<div class="datos-usuarios" *ngIf="usuario">
    <p>
        ID usuario: {{usuario.id}}
    </p>

    <p>
        Username: {{usuario.username}}
    </p>

    <p>
        Password: {{usuario.password}}
    </p>

    <p>
        Email: {{usuario.email}}
    </p>

    <p>
        Nombre: {{usuario.nombre}}
    </p>

    <p>
        Edad: {{usuario.edad}}
    </p>

    <p>
        Descripcion: {{usuario.descripcion}}
    </p>

    <p>
        URL imagen: {{usuario.imageUrl}}
    </p>

    <p>
        Puntuacion: {{usuario.puntuacion}}
    </p>

    <button (click) = "ver()">
        VER
    </button>
    
    <button (click) = "modificar()">
        MODIFICAR
    </button>
</div>