<div>
    <h2>MODIFICAR UNA PUBLICACION:</h2>
    <form [formGroup]="publicacionForm" (ngSubmit)="modificarpublicacion()">

        <p>
            ID bar: <input type="string" placeholder="ID bar" formControlName="idBar" />*
            <ng-container
              *ngIf="!formControls.idBar.valid &&formControls.idBar.touched">
              <p *ngIf="formControls.idBar.errors.required">
                Este Campo es Obligatorio
              </p>
            </ng-container>
          </p>

      <p>
      Name Bar: <input type="string" placeholder="Name bar" formControlName="nameBar" />*
      <ng-container
        *ngIf="!formControls.nameBar.valid && formControls.nameBar.touched">
        <p *ngIf="formControls.nameBar.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>
  

    <p>
      URL Imagen bar: <input type="string" placeholder="URL imagen bar" formControlName="imageBar" />*
      <ng-container
        *ngIf="!formControls.imageBar.valid &&formControls.imageBar.touched">
        <p *ngIf="formControls.imageBar.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>

    <p>
      Texto: <input type="string" placeholder="Texto" formControlName="texto" />*
      <ng-container
        *ngIf="!formControls.texto.valid &&formControls.texto.touched">
        <p *ngIf="formControls.texto.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>

    <p>
        URL imagen: <input type="string" placeholder="URL imagen" formControlName="imageUrl" />*
        <ng-container
          *ngIf="!formControls.imageUrl.valid &&formControls.imageUrl.touched">
          <p *ngIf="formControls.imageUrl.errors.required">
            Este Campo es Obligatorio
          </p>
        </ng-container>
      </p>

      <p>
        Fecha: <input type="string" placeholder="Fecha" formControlName="fecha" />*
        <ng-container
          *ngIf="!formControls.fecha.valid &&formControls.fecha.touched">
          <p *ngIf="formControls.fecha.errors.required">
            Este Campo es Obligatorio
          </p>
        </ng-container>
      </p>

      <p>
        Likes: <input type="string" placeholder="Likes" formControlName="likes" />*
        <ng-container
          *ngIf="!formControls.likes.valid &&formControls.likes.touched">
          <p *ngIf="formControls.likes.errors.required">
            Este Campo es Obligatorio
          </p>
        </ng-container>
      </p>

      <p>
        <input type="submit" value="Eliminar" (click) = "delete()" />
        <input type="submit" value="Modificar" [disabled]="publicacionForm.invalid" />
        <input type="submit" value="Atrás" (click) = "atras()" />
      </p>
    </form>
  </div>