<div class="datos-comunidades" *ngIf="comunidad">
    <p>
        ID comunidad: {{comunidad.id}}
    </p>

    <p>
        Name: {{comunidad.name}}
    </p>

    <p>
        Propietario: {{comunidad.owner}}
    </p>

    <p>
        ID propietario: {{comunidad.idOwner}}
    </p>

    <p>
        Descripcion: {{comunidad.descripcion}}
    </p>

    <p>
        URL imagen: {{comunidad.imageUrl}}
    </p>

    <button (click) = "ver()">
        VER
    </button>

    <button (click) = "modificar()">
        MODIFICAR
    </button>
</div>