h2{
    color: #8c52ff;
    font: caption;
    font-size: xx-large;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    font-size: x-large;
    font: caption;
    color: #8c52ff;
}

.ng-container{
    background-color: #8c52ff;
    color: #8c52ff;
}

input {
    background-color: #ffde59;
    border: none;
    border-radius: 15px;
    float: center;
    color: #8c52ff;
    padding: 10px 32px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 16px;
    opacity: 1;
    transition: 0.3s;
    margin-right: 10px;
}

.div1 {
    height: 40px;
}

.div2 {
    height: 270px;
}