<div>

  <div>
    <div class="div1"></div>
  </div>

  <h2>Crear objeto</h2>
  <form [formGroup]="objectForm" (ngSubmit)="addObject()">

    <div>
      <div class="div1"></div>
    </div>

    <p>
      Name*: <input type="string" placeholder="Nombre del articulo" formControlName="name" />
      <ng-container *ngIf="!formControls.name.valid && formControls.name.touched">
        <p *ngIf="formControls.name.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>

    <p>
      Precio*: <input type="string" placeholder="Precio aproximado del articulo" formControlName="price" />
      <ng-container *ngIf="!formControls.price.valid && formControls.price.touched">
        <p *ngIf="formControls.price.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>

    <p>
      Descripción*: <input type="string" placeholder="Descripción" formControlName="description" />
      <ng-container *ngIf="!formControls.description.valid && formControls.description.touched">
        <p *ngIf="formControls.description.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>

    <p>
      Unidades*: <input type="string" placeholder="Unidades disponibles" formControlName="units" />
      <ng-container *ngIf="!formControls.units.valid && formControls.units.touched">
        <p *ngIf="formControls.units.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>

    <p>
      URL imagen*: <input type="string" placeholder="URL imagen" formControlName="imageUrl" />
      <ng-container *ngIf="!formControls.imageUrl.valid && formControls.imageurl.touched">
        <p *ngIf="formControls.imageUrl.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>

    <div>
      <div class="div1"></div>
    </div>

    <p>
      <input type="submit" value="Crear" [disabled]="objectForm.invalid" />
      <input type="submit" value="Atrás" (click)="return()" />
    </p>
  </form>

  <div>
    <div class="div2"></div>
  </div>
</div>