<div>
    <h2>MODIFICAR USUARIO:</h2>
    <form [formGroup]="usuarioForm" (ngSubmit)="modificarUsuario()">

      <p>
        ID usuario: <input type="string" placeholder="ID usuario" formControlName="id" />*
        <ng-container
          *ngIf="!formControls.id.valid && formControls.id.touched">
          <p *ngIf="formControls.id.errors.required">
            Este Campo es Obligatorio
          </p>
        </ng-container>
      </p>
  
      <p>
        Username: <input type="string" placeholder="Username" formControlName="username" />*
        <ng-container
          *ngIf="!formControls.username.valid && formControls.username.touched">
          <p *ngIf="formControls.username.errors.required">
            Este Campo es Obligatorio
          </p>
        </ng-container>
      </p>
    
      <p>
        Password: <input type="string" placeholder="Password" formControlName="password" />*
        <ng-container
          *ngIf="!formControls.password.valid && formControls.password.touched">
          <p *ngIf="formControls.password.errors.required">
            Este Campo es Obligatorio
          </p>
        </ng-container>
      </p>
  
      <p>
        Email: <input type="string" placeholder="Email" formControlName="email" />*
        <ng-container
          *ngIf="!formControls.email.valid && formControls.email.touched">
          <p *ngIf="formControls.email.errors.required">
            Este Campo es Obligatorio
          </p>
        </ng-container>
      </p>

      <p>
        Nombre: <input type="string" placeholder="Nombre" formControlName="nombre" />*
        <ng-container
          *ngIf="!formControls.nombre.valid && formControls.nombre.touched">
          <p *ngIf="formControls.nombre.errors.required">
            Este Campo es Obligatorio
          </p>
        </ng-container>
      </p>

      <p>
        Edad: <input type="string" placeholder="Edad" formControlName="edad" />*
        <ng-container
          *ngIf="!formControls.edad.valid && formControls.edad.touched">
          <p *ngIf="formControls.edad.errors.required">
            Este Campo es Obligatorio
          </p>
        </ng-container>
      </p>

      <p>
        Descripcion: <input type="string" placeholder="Descripcion" formControlName="descripcion" />*
        <ng-container
          *ngIf="!formControls.descripcion.valid && formControls.descripcion.touched">
          <p *ngIf="formControls.descripcion.errors.required">
            Este Campo es Obligatorio
          </p>
        </ng-container>
      </p>

      <p>
        URL imagen: <input type="string" placeholder="URL imagen" formControlName="imageUrl" />*
        <ng-container
          *ngIf="!formControls.imageUrl.valid && formControls.imageurl.touched">
          <p *ngIf="formControls.imageUrl.errors.required">
            Este Campo es Obligatorio
          </p>
        </ng-container>
      </p>

      <p>
        Puntuacion: <input type="string" placeholder="Puntuacion" formControlName="puntuacion" />*
        <ng-container
          *ngIf="!formControls.puntuacion.valid && formControls.puntuacion.touched">
          <p *ngIf="formControls.puntuacion.errors.required">
            Este Campo es Obligatorio
          </p>
        </ng-container>
      </p>
  

      <p>
        <input type="submit" value="Eliminar" (click) = "deleteUsuario()" />
        <input type="submit" value="Modificar" [disabled]="usuarioForm.invalid" />
        <input type="submit" value="Atrás" (click) = "atras()" />
      </p>
    </form>
  </div>