<html>

<head>
    <style>
        body {
            background-color: #f0e1f8;
        }
    </style>
</head>

<body>

    <div id="btnContainer">
        <button (click)="return()" class="btn">Atrás</button>
    </div>

    <div>
        <div class="div3"></div>
    </div>



    <h2>
        {{object.name}}
    </h2>

    <div>
        <div class="div2"></div>
    </div>

    <p>
        Precio
    </p>

    <h1>
        {{object.price}} €
    </h1>

    <div>
        <div class="div2"></div>
    </div>

    <p>
        Descripción
    </p>

    <h1>
        {{object.description}}
    </h1>

    <div>
        <div class="div2"></div>
    </div>

    <p>
        Unidades
    </p>

    <h1>
        {{object.units}}
    </h1>

    <p>
        Imagen URL
    </p>

    <h1>
        {{object.imageUrl}}
    </h1>

    <div>
        <div class="div2"></div>
    </div>

    <div>
        <div class="div1"></div>
    </div>
</body>

</html>