<div>
    <h2>MODIFICAR UNA DENUNCIA:</h2>
    <form [formGroup]="denunciaForm" (ngSubmit)="modificardenuncia()">

      <p>
        ID Usuario: <input type="string" placeholder="ID Usuario" formControlName="idUsuario" />*
        <ng-container
          *ngIf="!formControls.idUsuario.valid && formControls.idUsuario.touched">
          <p *ngIf="formControls.idUsuario.errors.required">
            Este Campo es Obligatorio
          </p>
        </ng-container>
      </p>


      <p>
      ID Publicacion: <input type="string" placeholder="ID Publicacion" formControlName="idPublicacion" />*
      <ng-container
        *ngIf="!formControls.idPublicacion.valid && formControls.idPublicacion.touched">
        <p *ngIf="formControls.idPublicacion.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>

    
    <p>
      Descripcion: <input type="string" placeholder="Descripcion" formControlName="descripcion" />*
      <ng-container
        *ngIf="!formControls.descripcion.valid &&formControls.descripcion.touched">
        <p *ngIf="formControls.descripcion.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>


      <p>
        <input type="submit" value="Eliminar" (click) = "delete()" />
        <input type="submit" value="Modificar" [disabled]="denunciaForm.invalid" />
        <input type="submit" value="Atrás" (click) = "atras()" />
      </p>
    </form>
  </div>
