.datos-publicacion{
    border: solid;
    height: 340px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

p{
    text-align: center;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}