<div class="datos-publicacion" *ngIf="publicacion">
    <p>
        ID: {{publicacion.id}}
    </p>
    <p>
        ID bar: {{publicacion.idBar}}
    </p>

    <p>
        Name bar: {{publicacion.nameBar}}
    </p>

    <p>
        Image bar: {{publicacion.imageBar}}
    </p>

    <p>
        Texto: {{publicacion.texto}}
    </p>

    <p>
        URL imagen: {{publicacion.imageUrl}}
    </p>

    <p>
        Fecha: {{publicacion.fecha}}
    </p>

    <p>
        Likes: {{publicacion.likes}}
    </p>
    
    
    <button (click) = "ver()">
        VER
    </button>

    <button (click) = "modificar()">
        MODIFICAR
    </button>
</div>