.lista{
    float: left;
    margin-left: 4000px;
    background-color:#2c3e50;

}

.lista{
    float: center;
    margin-left: 490px;
    margin-top: 20px;
    background-color:#2c3e50;

}

.listaUS{
    float: left;
    margin-left: 80px;
    margin-top: 30px;
    background-color:#2c3e50;

}

h2{
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    font-size: xx-large;
    color: bisque;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 150px;
    font-size: large;
}


