.datos-estadisticas{
    border: solid;
    height: 230px;
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color:bisque;
}

p{
    text-align: center;
    font-size: xx-large;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}