<div>
    <h2>NUEVO BAR:</h2>
    <form [formGroup]="barForm" (ngSubmit)="addbar()">

      <p>
      Name: <input type="string" placeholder="Name" formControlName="name" />*
      <ng-container
        *ngIf="!formControls.name.valid && formControls.name.touched">
        <p *ngIf="formControls.name.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>
  
    <p>
      Address: <input type="string" placeholder="Address" formControlName="address" />*
      <ng-container
        *ngIf="!formControls.address.valid &&formControls.address.touched">
        <p *ngIf="formControls.address.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>

    <p>
      Tipo de musica: <input type="string" placeholder="Tipo de musica" formControlName="musicTaste" />*
      <ng-container
        *ngIf="!formControls.musicTaste.valid &&formControls.musicTaste.touched">
        <p *ngIf="formControls.musicTaste.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>

    <p>
      Propietario: <input type="string" placeholder="Propietario" formControlName="owner" />*
      <ng-container
        *ngIf="!formControls.owner.valid &&formControls.owner.touched">
        <p *ngIf="formControls.owner.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>

    <p>
      ID propietario: <input type="string" placeholder="ID propietario" formControlName="idOwner" />*
      <ng-container
        *ngIf="!formControls.idOwner.valid &&formControls.idOwner.touched">
        <p *ngIf="formControls.idOwner.errors.required">
          Este Campo es Obligatorio
        </p>
      </ng-container>
    </p>

      <p>
        <input type="submit" value="Añadir" [disabled]="barForm.invalid" />
        <input type="submit" value="Atrás" (click) = "atras()" />
      </p>
    </form>
  </div>
  
