<html>

<head>
    <style>
        body {
            background-color: #f0e1f8;
        }
    </style>
</head>

<body>

    <div id="btnContainer">
        <button (click)="return()" class="btn">Atrás</button>
    </div>

    <div>
        <div class="div3"></div>
    </div>



            <h2>
                {{cat.name}}
            </h2>

            <div>
                <div class="div2"></div>
            </div>

            <p>
                ID
            </p>

            <h1>
                {{cat.id}}
            </h1>

            <div>
                <div class="div2"></div>
            </div>

            <p>
                Nombre
            </p>

            <h1>
                {{cat.name}}
            </h1>

            <div>
                <div class="div2"></div>
            </div>

            <p>
                Sexo
            </p>

            <h1>
                {{cat.sex}}
            </h1>

            <div>
                <div class="div2"></div>
            </div>

            <p>
                Peso
            </p>

            <h1>
                {{cat.weight}} kg
            </h1>

            <div>
                <div class="div2"></div>
            </div>

            <p>
                Compatibilidades
            </p>

            <h1>
                {{cat.compatibilities}}
            </h1>

            <div>
                <div class="div2"></div>
            </div>

            <p>
                Incompatibilidades
            </p>

            <h1>
                {{cat.incompatibilities}}
            </h1>

            <div>
                <div class="div2"></div>
            </div>

            <p>
                Enfermedades
            </p>

            <h1>
                {{cat.diseases}}
            </h1>

            <div>
                <div class="div2"></div>
            </div>

            <p>
                Dirección imagen
            </p>

            <h1>
                {{cat.imageUrl}}
            </h1>







    <div>
        <div class="div1"></div>
    </div>
</body>

</html>