<div class="datos-publicacion" *ngIf="id">
    <form [formGroup]="publicacionForm" (ngSubmit)="ver()">
        <p>
            ID: {{publicacion.id}}
        </p>
        <p>
            ID bar: {{publicacion.idBar}}
        </p>
    
        <p>
            Name bar: {{publicacion.nameBar}}
        </p>
    
        <p>
            Image bar: {{publicacion.imageBar}}
        </p>
    
        <p>
            Texto: {{publicacion.texto}}
        </p>
    
        <p>
            URL imagen: {{publicacion.imageUrl}}
        </p>
    
        <p>
            Fecha: {{publicacion.fecha}}
        </p>
    

    </form>
</div>